// SCSS

$radius: 4px;
$color1: black;
$color2: #fff;
$color3: rgb(100, 193, 234);

$font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
  Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

* {
  box-sizing: border-box;
}
body,
html {
  padding: 0;
  margin: 0;
  font-family: $font-family;
  color: $color2;
  height: 100%;
}

body {
  background-color: $color1;
  padding: 0 24px;
}

.wrapper {
  margin: 0 auto;
  max-width: 720px;
}

h1 {
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.formItem {
  label {
    display: block;
    margin-bottom: 8px;
  }
}

textarea {
  width: 100%;
  height: 300px;
  display: block;
  resize: vertical;
  border-radius: $radius;
  border: solid 2px $color2;
  background-color: transparent;
  font-family: $font-family;
  padding: 8px;
  color: $color2;

  &.result {
    height: 100px;
  }
}

.button-container {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.btn {
  align-self: flex-start;
  background-color: transparent;
  padding: 8px 16px;
  border: 2px solid $color2;
  border-radius: $radius;
  color: $color2;
  font-size: 16px;
  text-decoration: none;
  cursor: pointer;

  &.btn-primary {
    background-color: $color2;
    color: $color1;
  }
}

.successMessage {
  color: white;
  transform: translateY(-8px);
  opacity: 0;
  display: block;
  transition-property: transform, opacity;
  transition-duration: 0.3s;
  margin-top: 8px;

  &.successMessageEnter {
    transform: translateY(0);
    opacity: 1;
  }
}

footer {
  margin: 0 auto;
  text-align: center;
  margin-top: 80px;
  color: rgba($color: $color2, $alpha: 0.4);

  a {
    color: rgba($color: $color2, $alpha: 0.5);
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}
